{
    "extends": "airbnb",
    "rules": {
        "indent": ["error", 4],
        "linebreak-style": ["error", "windows"],
        "function-paren-newline": "off",
        "object-curly-newline": "off",
        "no-restricted-syntax": "off",
        "class-methods-use-this": "off"
    }
}