{
    "extends": "airbnb-base",
    "rules": {
        "indent": ["error", 4],
        "linebreak-style": ["error", "windows"],
        "function-paren-newline": "off",
        "object-curly-newline": "off",
        "import/no-unresolved": "off",
    },
    "env": {
        "browser": true
    }
}
